
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
background-color: rgb(134, 123, 123);
text-align: center;
padding: 20px 20px;
font-size: 30px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;

}
.flex-container>div {
    background-color: #f1f1f1;
    padding: 160px 10px;
    flex: auto;
    margin: 10px;
    text-align: center;
}

.footer{
    text-align: center;
    background-color: turquoise;
    padding:20px 20px;
}
